<h1>Expense Status</h1>

<h4>Hi XYZ...</h4>
<p>Your Expense is <%=@state%> by Admin with following details. </p>

<p><strong>Expense Invoice: </strong><%=@expenditure.expense_invoice%></p>
<p><strong>Expense Details: </strong><%=@expenditure.expense_details%></p>
<p><strong>Expense Amount: </strong><%=@expenditure.expense_amount%></p>
<p><strong>Expense Status: </strong><%=@expenditure.expense_status%></p>
<p><strong>Expense Document: </strong><%=@expenditure.expense_document%></p>
<p><strong>Expense Date: </strong><%=@expenditure.expense_date%></p>


<p>Thanks and Regards</p>
<p>Chandan Thakur</p>
